.todo {
  display: flex;
  padding: 10px 50px;
  background-color: rgb(141, 161, 161);
  border-bottom: 1px solid #dde;
}

.todo:nth-child(odd) {
  background-color: rgb(252, 250, 248);
}

.todo:last-of-type {
  border-bottom: 0;
}

.todo .id {
  flex: 1 1 50px;
  font-size: 18px;
  font-weight: 700;
}

.todo .content {
  flex: 1 1 100%;
  font-size: 18px;
  font-weight: 700;
}

.todo.done .content {
  text-decoration: line-through;
  color: red;
}

.todo-input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  appearance: none;
  border: none;
  background-color: rgba(68, 168, 55, 0.452);
  margin-top: 15px;
  font-size: 20px;
  outline: none;
}

.todo-submit {
  display: block;
  width: 100%;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: green;
  color: white;
  margin: 15px auto;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
}
